* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

html {
    background-color: #eeeeff; 
}

/* ----- Nav Top ----- */

.nav {
    overflow: hidden;
    background-color: #05111c;
    position: fixed;
    width: 100%;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #57b29e;
    color: #484646;
    font-weight: 500;
}

.nav .icon {
    display: none;
}

.nav a:nth-child(1) {
    margin-left: 10%;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {position: fixed;}
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-left: 10%;
    }
}

/* ----- Nav Top ----- */



/* ----- Banner ----- */

#banner {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/* ----- Banner ----- */



/* ----- Content ----- */
/*Home*/
#website_purpose {
    height: 50vh;
    background-color: #28536b;
}

.content {
    width: 60%;
    margin: 5% 20% 5% 20%;
    height: 80vh;
    background-color: #28536b;
}

.where_banner {
    height: 60vh;
    background-color: #57b29e;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#go_banner {
    background-image: url(imgs/go_banner_bg.png);
}

#eat_banner {
    background-image: url(imgs/eat_banner_bg.png);
}

#sleep_banner {
    background-image: url(imgs/sleep_banner_bg.png);
}

#first_content {
    margin-top: -150px;
}

/*Home*/

/*About Us*/
#aboutus {
    height: 100vh;
}
/*About Us*/

/*Contact*/
#contact {
    height: 100vh;
}
/*Contact*/

/* ----- Content ----- */

/* ----- Nav Bot ----- */



/* ----- Nav Bot ----- */

/* ----- Footer ----- */

footer {
    clear: both;
    width: 100%;
    background-color: #05111c;
    color: white;
}

#footer_text {
    text-align: center;
    padding: 2%;
}

/* ----- Footer ----- */