* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background-color: #eeeeff; 
}

/* ----- Main Menu ----- */

.nav {
    overflow: hidden;
    background-color: #495867;
    position: fixed;
    width: 100%;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #28536b;
}

.nav .icon {
    display: none;
}

.nav a:nth-child(1) {
    margin-left: 10%;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-left: 10%;
    }
}

/* ----- Main Menu ----- */



/* ----- Banner ----- */

#banner {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/* ----- Banner ----- */



/* ----- Content ----- */
/*Home*/
#website_purpose {
    height: 50vh;
    background-color: #57b29e;
}

.content {
    width: 60%;
    margin: 5% 20% 5% 20%;
    height: 50vh;
    background-color: #28536b;
}

.where_banner {
     height: 40vh;
    background-color: #57b29e;
}
/*Home*/

/*About Us*/
#aboutus {
    height: 100vh;
}
/*About Us*/

/*Contact*/
#contact {
    height: 100vh;
}
/*Contact*/

/* ----- Content ----- */



/* ----- Footer ----- */

footer {
    clear: both;
    width: 100%;
    background-color: #495867;
    color: white;
}

#footer_text {
    text-align: center;
    padding: 2%;
}

/* ----- Footer ----- */